
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

.patient-dashboard-outer {
    width: 100%;
    height: 100vh;
}

.patient-dashboard-inner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.patient-dashboard-image-outer{
    width: 100%;
    height: auto;
}

.patient-dashboard-image-inner{
    width: 100%;
    height: 500px;
    background-image: radial-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://img.freepik.com/free-vector/cartoon-stomatology-room-with-equipment-furniture-vector-illustration-dentist-office-chair-medical-tools-toothache-treatment-instruments-desktop-computer-folders-shelf-medical-practice_107791-21199.jpg?w=1380&t=st=1695236347~exp=1695236947~hmac=be65a4c9af1f04bad3c3be3f0733f5c18a20279acc880defeaca66637e0fb26b");
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-divider{
    height: 100px;
    width: 100%;
}

.fa-hospital-user, .fa-person, .fa-person-dress{
    font-size: 30px;
}

.tot-patients{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-items {
    height: auto;
    padding: 40px;
}

.search-bar{
    margin: 20px 0;
}

.table-outer {
    height: auto;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: auto;
}



.all-patients {
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 10px;
}


.inner-items-right{

}

#patientCount, #malePatients, #femalePatients{
    font-size: 30px;
    font-weight: 900;
}

@media (max-width: 998px) {
    .table-outer{
        overflow-x: scroll;
        overflow-y: scroll;
    }
}